body {
  padding: 0;
  text-align: center;
  background-image: url(../Images/intro-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
}

#game-intro {
  padding: 20px 0px;
}

img {
  display: block;
}

#game-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  background-image: url(../Images/game-screen-background.png);
  display: none;
  align-content: center;
  padding: 20px 0px;
  /* overflow: hidden; */
  position: relative;
}

#shapes-container {
  width: 30%;
  border: 1px solid;
}

#shapes-container img {
  width: 100%;
}

#choices-container {
  border: 1px solid;
  width: 70%;
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

body button {
  position: center;
  font-family: "Courier", Courier, monospace;
  font-size: 25px;
  font-weight: 600;
  background-color: #c2932d;
  color: #541410;
  padding: 15px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin-bottom: 0px;
}
